/* Resets, Font, Colors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --accent-blue: #4977ea;
  --bg-medium: #f9f4e8;
  --text-medium: #92908b;
  --gradient-start: #edbd6b;
  --gradient-end: #eb5f7c;
  font-family: "Lato", sans-serif;
  color: var(--text-medium);
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Page Layout */
body {
  height: 100%;
  min-height: 100vh;
  background-color: var(--bg-medium);
}

.page-container {
  width: 94%;
  height: 100%;
  max-width: 1260px;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.btn-gradient {
  color: #fff;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 2rem;
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.nav-links > a,
.call-to-action > a:first-child {
  color: var(--text-medium);
  transition: color 0.4s ease-in-out;
}

.nav-links > a.active,
.call-to-action > a:first-child.active {
  color: #000;
}

.btn-accent {
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: var(--accent-blue);
}

header > .nav-links,
header > .call-to-action {
  display: none;
}

/* Animated Hamburger Icon */
#menu-toggle {
  width: 1.6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  cursor: pointer;
}

.hamburger {
  width: 1.6rem;
  height: 4px;
  background: #000;
  transition: all 0.4s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 1.6rem;
  height: 4px;
  position: absolute;
  background: #000;
  transition: all 0.4s ease-in-out;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(8px);
}

.hamburger.open {
  transform: translateX(50px);
  background: transparent;
}

.hamburger.open::before {
  height: 3px;
  border-radius: 8px;
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hamburger.open::after {
  height: 3px;
  border-radius: 8px;
  transform: rotate(45deg) translate(-35px, 35px);
}

/* Animated Dropdown Menu */
.dropdown-menu {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, margin 0.6s ease-in-out;
}

.dropdown-menu.open {
  max-height: 6rem;
  margin: 1rem 0;
}

.dropdown-menu > .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  flex: 1;
}

.dropdown-menu > .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

/* Hero */
.hero {
  padding: 3rem 0;
}

.hero > .container {
  width: 69%;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.shapes > img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.shapes > img:nth-child(1) {
  transform: rotate(-45deg);
}

.shapes > img:nth-child(2) {
  transform: rotate(-30deg);
}

.shapes > img:nth-child(3) {
  transform: rotate(-15deg);
}

.hero > .container > img {
  width: 100%;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content > h1 {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscribe > input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #fff;
}

.unsubscribe {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Footer */
footer {
  margin: 3rem 0 1rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-text {
  color: #000;
}

.contact-text > a {
  font-weight: bold;
}

/* Tablets */
@media screen and (min-width: 425px) {
  .dropdown-menu > .vertical-rule {
    width: 2px;
    height: auto;
    border-radius: 8px;
    background-color: var(--text-medium);
  }

  .dropdown-menu > .call-to-action {
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Large Screens */
@media screen and (min-width: 1024px) {
  header > .nav-links,
  header > .call-to-action {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  #menu-toggle {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }

  main {
    flex-direction: row-reverse;
  }

  .hero {
    flex: 1;
  }

  .content {
    flex: 1;
  }

  .subscribe {
    flex-direction: row;
  }

  footer {
    margin: 3rem;
  }
}
