/* Resets, Font, Colors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

:root {
  --text-dark: #000;
  --text-dim: #aaa;
  --bg-light: #fff;
  font-family: "Rubik", sans-serif;
  color: var(--text-dark);
}

html,
body {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility */
.text-dark {
  color: var(--text-dark);
}

.text-dim {
  color: var(--text-dim);
}

.bold {
  font-weight: bold;
}

/* Page Layout */
body {
  background: radial-gradient(
      circle at 15% 10%,
      rgba(255, 203, 143, 1),
      rgba(255, 225, 255, 0) 50%
    ),
    radial-gradient(
      circle at 10% 100%,
      rgba(255, 156, 133, 1),
      rgba(255, 225, 255, 0) 50%
    ),
    radial-gradient(
      circle at 93.6% 0%,
      rgba(149, 148, 255, 1),
      rgba(255, 191, 208, 1) 50%
    ),
    radial-gradient(
      circle at 100% 80%,
      rgba(255, 204, 236, 1),
      rgba(255, 191, 208, 1) 50%
    );
  display: flex;
}

.card {
  background-color: var(--bg-light);
  border-radius: 8px;
  margin: auto;
  width: 94%;
  max-width: 94%;
  box-shadow: 0px 4px 8px #00000022;
}

.card-container {
  margin: 20px 15px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 720px;
    max-width: 720px;
  }
}

/* Comment */
.comment {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 8px 12px;
  margin-top: 18px;
}

.comment + .comment {
  margin-top: 44px;
}

.comment-side {
  grid-row: 1 / span 4;
  grid-column: 1 / 1;
  display: flex;
  flex-direction: column;
}

.comment-side > img {
  width: 100%;
}

.comment-side > span {
  width: 2px;
  height: 100%;
  margin: 10px auto 0;
  background-color: var(--text-dim);
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.comment-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.vote > img,
.comment-side > img,
.comment-header > h3,
.comment-footer > span {
  cursor: pointer;
}
